.button {
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

#start_icon {
  margin-right: 4px;
}

#end_icon {
  margin-left: 4px;
}

.default {
  background: #e0e0e0;
  color: #3f3f3f;
}

.default:hover,
:focus {
  background-color: #aeaeae;
}

.outline {
  border: 1px solid #3d5afe;
  color: #3d5afe;
  background-color: white;
  box-shadow: none;
}

.outline:hover,
:focus {
  background: rgba(41, 98, 255, 0.1);
}

.text {
  color: #3d5afe;
  background: none;
  box-shadow: none;
}

.text:hover,
:focus {
  background: rgba(41, 98, 255, 0.1);
}

.default.disabled:hover {
  background: #e0e0e0;
}

.text.disabled:hover {
  background: none;
}

.primary {
  background: #2962ff;
  color: white;
}

.primary:hover,
:focus {
  background: #0039cb;
}

.secondary {
  background-color: #455a64;
  color: white;
}

.secondary:hover,
:focus {
  background: #1c313a;
}

.danger {
  background-color: #d32f2f;
  color: white;
}

.danger:hover,
:focus {
  background: #9a0007;
}

.no-shadow {
  box-shadow: none;
}

.disabled {
  color: #9e9e9e;
  cursor: default;
}

.sm {
  font-size: 12px;
  padding: 6px 12px;
}

.sm .material-icons {
  font-size: 18px;
}

.lg {
  font-size: 1.25rem;
  padding: 11px 22px;
}

.lg .material-icons {
  font-size: 1.8rem;
}
